Memorize/Memorize.xcodeproj/xcshareddata/
Memorize/Memorize.xcodeproj/xcuserdata/safakge.xcuserdatad/
CS193P.xcworkspace/xcuserdata/safakge.xcuserdatad/
SetGame/SetGame.xcodeproj/xcuserdata/
CS193P.xcworkspace/contents.xcworkspacedata
SetGame/SetGame.xcodeproj/project.pbxproj

